@page
@model CatDogLoverManagement.Pages.Post.AddServiceModel
@{
}

@{
    String jsonString = HttpContext.Session.GetString("userId");
    if (!string.IsNullOrEmpty(jsonString))
    {
        if (!jsonString.Equals("4984f0a0-fb04-4759-baad-0682b4f8657f"))
        {
<div class="bg-secondary bg-opacity-10 py-2">
    <div>
        <h1>Add Service Post</h1>
    </div>
</div>
<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" asp-for="AddBlogPostRequest.Title" />
                <span asp-validation-for="AddBlogPostRequest.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" asp-for="AddBlogPostRequest.Description"></textarea>
                <span asp-validation-for="AddBlogPostRequest.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" asp-for="AddBlogPostRequest.Price" />
                <span asp-validation-for="AddBlogPostRequest.Price" class="text-danger"></span>
            </div>
            <!--Create Image API-->
            <div class="mb-3">
                <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />
                <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                <span asp-validation-for="FeaturedImage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" id="image" asp-for="AddBlogPostRequest.Image" readonly />
                <span asp-validation-for="AddBlogPostRequest.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddServiceRequest.ServiceName" class="control-label">Name</label>
                <input asp-for="AddServiceRequest.ServiceName" class="form-control" />
                <span asp-validation-for="AddServiceRequest.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddServiceRequest.Address" class="control-label">Address</label>
                <input asp-for="AddServiceRequest.Address" class="form-control" />
                <span asp-validation-for="AddServiceRequest.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddServiceRequest.Description" class="control-label">Service Description</label>
                <input asp-for="AddServiceRequest.Description" class="form-control" />
                <span asp-validation-for="AddServiceRequest.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddServiceRequest.OpenDate" class="control-label">Open Date</label>
                <input asp-for="AddServiceRequest.OpenDate" class="form-control" />
                <span asp-validation-for="AddServiceRequest.OpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddServiceRequest.Note" class="control-label">Note</label>
                <input asp-for="AddServiceRequest.Note" class="form-control" />
                <span asp-validation-for="AddServiceRequest.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="TimeFrame" class="row">
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[0].From" class="control-label">From</label>
                        <input type="time" asp-for="AddTimeFrameRequest[0].From" name="AddTimeFrameRequest[0].From" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[0].From" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[0].To" class="control-label">To</label>
                        <input type="time" asp-for="AddTimeFrameRequest[0].To" name="AddTimeFrameRequest[0].To" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[0].To" class="text-danger"></span>
                    </div>
                </div>
                <div id="TimeFrame1" class="row" style="display: none">
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[1].From" class="control-label">From</label>
                        <input type="time" asp-for="AddTimeFrameRequest[1].From" name="AddTimeFrameRequest[1].From" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[1].From" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[1].To" class="control-label">To</label>
                        <input type="time" asp-for="AddTimeFrameRequest[1].To" name="AddTimeFrameRequest[1].To" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[1].To" class="text-danger"></span>
                    </div>
                </div>

                <div id="TimeFrame2" class="row" style="display: none">
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[2].From" class="control-label">From</label>
                        <input type="time" asp-for="AddTimeFrameRequest[2].From" name="AddTimeFrameRequest[2].From" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[2].From" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[2].To" class="control-label">To</label>
                        <input type="time" asp-for="AddTimeFrameRequest[2].To" name="AddTimeFrameRequest[2].To" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[2].To" class="text-danger"></span>
                    </div>
                </div>

                <div id="TimeFrame3" class="row" style="display: none">
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[3].From" class="control-label">From</label>
                        <input type="time" asp-for="AddTimeFrameRequest[3].From" name="AddTimeFrameRequest[3].From" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[3].From" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="AddTimeFrameRequest[3].To" class="control-label">To</label>
                        <input type="time" asp-for="AddTimeFrameRequest[3].To" name="AddTimeFrameRequest[3].To" class="form-control" />
                        <span asp-validation-for="AddTimeFrameRequest[3].To" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="m-3">
                <button id="moreButton" class="btn btn-secondary" type="button">More</button>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        // var editor = new FroalaEditor('#description', {
        //     imageUploadURL: '/api/images'
        // });

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const image = document.getElementById('image');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    image.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;
                });
        }
        featuredImageUploadElement.addEventListener('change', uploadFeaturedImage);

        var currentFrame = 0; // Initialize the current frame index

        document.getElementById("moreButton").addEventListener("click", function () {
            currentFrame++; // Increment the frame index
            var currentFrameDiv = document.getElementById("TimeFrame" + currentFrame);
            if (currentFrameDiv) {
                currentFrameDiv.style.display = "flex";
            }

            if (currentFrame >= 3) {
                // Hide the "More" button when all TimeFrame divs are displayed
                document.getElementById("moreButton").style.display = "none";
            }

        });
    </script>
}
    }
        else
        {
            <h1>Access Denied</h1>
        }
    }
    else
    {
        <h1>Access Denied</h1>
    }
}