@page "{id:Guid}"
@model CatDogLoverManagement.Pages.Post.EditModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div>
        <h1>Edit Post</h1>
    </div>
</div>

<partial name="_Notification" />

@if (Model.BlogPost != null && Model.Animal != null)
{
    <div>
        <div class="container">
            <form method="post">
                <div class="mb-3" style="display:none">
                    <label for="id" class="form-label">Post Id</label>
                    <input type="text" class="form-control" id="id" asp-for="BlogPost.PostId" readonly />
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" asp-for="BlogPost.Title" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" asp-for="BlogPost.Description"></textarea>
                </div>

                <div class="mb-3">
                    <div>
                        <label for="option1">Sell</label>
                        <input type="radio" id="option1" name="options" value="sell" onClick="myFunction()">

                        <label for="option2">Give</label>
                        <input type="radio" id="option2" name="options" value="give" onClick="myFunction()">
                    </div>
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" asp-for="BlogPost.Price" />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="createdDate" class="form-label">CreatedDate</label>
                    <input type="date" class="form-control" id="createdDate" asp-for="BlogPost.CreatedDate" />
                </div>

                <div class="mb-3">
                    <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                    <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />

                    @if (Model.BlogPost.Image != null)
                    {
                        <img src="" id="featuredImageDisplay" style="width:300px;" />
                    }
                    else
                    {
                        <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                    }

                </div>

                <div class="mb-3" style="display:none">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" asp-for="BlogPost.Image" />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="status" class="form-label">Status</label>
                    <input type="text" class="form-control" id="status" asp-for="BlogPost.Status" />
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Type</label>
                    <div>
                        <select asp-for="Animal.AnimalType">
                            <option value="Cat">Cat</option>
                            <option value="Dog">Dog</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Age (month)</label>
                    <input type="text" class="form-control" id="age" asp-for="Animal.Age" />

                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Gender</label>
                    <div>
                        <select asp-for="Animal.Gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" asp-for="Animal.AnimalName" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Animal Description</label>
                    <textarea type="text" class="form-control" id="animaldescription" asp-for="Animal.Description" ></textarea>
                </div>
                <div class="mb-3" style="display:none">
                    <label for="userId" class="form-label">UserID</label>
                    <input type="text" class="form-control" id="userId" asp-for="BlogPost.UserId" readonly />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="animalId" class="form-label">AnimalID</label>
                    <input type="text" class="form-control" id="animalId" asp-for="BlogPost.AnimalId" readonly />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="service" class="form-label">ServiceId</label>
                    <input type="text" class="form-control" id="serviceId" asp-for="BlogPost.ServiceId" readonly />
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page="EditSellOrGivePost" asp-page-handler="Edit">Submit</button>

                    <button class="btn btn-danger" type="submit" asp-page="EditSellOrGivePost" asp-page-handler="Delete">Delete</button>
                </div>
            </form>

        </div>
    </div>
}
else
{
    <div class="container">
        <p>Blog Post Not Found!</p>
    </div>
}

@section Scripts{
    <script>
        var editor = new FroalaEditor('#description', {
            imageUploadURL: '/api/images'
        });

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const image = document.getElementById('image');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadfeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    image.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;
                });
        }
        featuredImageUploadElement.addEventListener('change', uploadfeaturedImage);
        function myFunction() {
            var radios = document.getElementsByName("options");
            var price = document.getElementById("price");
            for (var i = 0; i < radios.length; i++) {
                if (radios[1].checked) {
                    price.value = 0;
                    price.disabled = true;
                } else {
                    price.disabled = false;
                    price.value = "";
                }
            }

        }

    </script>
}