@page "{id:Guid}"
@model CatDogLoverManagement.Pages.Post.EditServicePostModel
@{
}
@if (Model.BlogPost != null && Model.Service != null && Model.TimeFrame != null)
{
    <div>
        <div class="container">
            <form method="post">
                <div class="mb-3" style="display:none">
                    <label for="id" class="form-label">Post Id</label>
                    <input type="text" class="form-control" id="id" asp-for="BlogPost.PostId" readonly />
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" asp-for="BlogPost.Title" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" asp-for="BlogPost.Description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" asp-for="BlogPost.Price" />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="createdDate" class="form-label">CreatedDate</label>
                    <input type="date" class="form-control" id="createdDate" asp-for="BlogPost.CreatedDate" />
                </div>

                <div class="mb-3">
                    <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                    <input type="file" id="featuredImageUpload" asp-for="FeaturedImage" />

                    @if (Model.BlogPost.Image != null)
                    {
                        <img src="" id="featuredImageDisplay" style="width:300px;" />
                    }
                    else
                    {
                        <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
                    }

                </div>

                <div class="mb-3" style="display:none">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" asp-for="BlogPost.Image" />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="status" class="form-label">Status</label>
                    <input type="text" class="form-control" id="status" asp-for="BlogPost.Status" />
                </div>
                <div class="mb-3" style="display:none">
                    <label for="status" class="form-label">ServiceId</label>
                    <input type="text" class="form-control" id="name" asp-for="Service.ServiceId" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" asp-for="Service.ServiceName" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" asp-for="Service.Address" />

                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Service Description</label>
                    <input type="text" class="form-control" id="serviceDescription" asp-for="Service.Description" />
                </div>
                <div class="mb-3" style="display:none">
                    <label for="status" class="form-label">Image</label>
                    <input type="text" class="form-control" id="serviceImage" asp-for="Service.Image" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Note</label>
                    <input type="text" class="form-control" id="note" asp-for="Service.Note" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Open Date</label>
                    <input type="text" class="form-control" id="openDate" asp-for="Service.OpenDate" />
                </div>
                <div class="mb-3" style="display:none">
                    <label for="userId" class="form-label">UserID</label>
                    <input type="text" class="form-control" id="userId" asp-for="BlogPost.UserId" readonly />
                </div>

                <div class="mb-3" style="display:none">
                    <label for="animalId" class="form-label">TimeFrameID</label>
                    <input type="text" class="form-control" id="animalId" asp-for="TimeFrame.Id" readonly />
                </div>
                <div class="mb-3">
                    <label for="animalId" class="form-label">From</label>
                    <input type="text" class="form-control" id="animalId" asp-for="TimeFrame.From" readonly />
                </div>
                <div class="mb-3">
                    <label for="animalId" class="form-label">To</label>
                    <input type="text" class="form-control" id="animalId" asp-for="TimeFrame.To" readonly />
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" asp-page="EditServicePost" asp-page-handler="Edit">Submit</button>

                    <button class="btn btn-danger" type="submit" asp-page="EditServicePost" asp-page-handler="Delete">Delete</button>
                </div>
            </form>

        </div>
    </div>
}
else
{
    <div class="container">
        <p>Blog Post Not Found!</p>
    </div>
}

@section Scripts{
    <script>
        var editor = new FroalaEditor('#description', {
            imageUploadURL: '/api/images'
        });

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const image = document.getElementById('image');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');

        async function uploadfeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    image.value = result.link;
                    featuredImageDisplay.style.display = 'block';
                    featuredImageDisplay.src = result.link;
                });
        }
        featuredImageUploadElement.addEventListener('change', uploadfeaturedImage);

    </script>
}