@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatDogLoverManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CatDogLoverManagement.styles.css" asp-append-version="true" />

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarsupportedcontent"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Home">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" id="navbardropdownpost">
                                Blogpost
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdownpost">

                                <li>
                                    <a class="dropdown-item" href="/post/AddSellOrGivePost">Add Sell/Give Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/post/AddServicePost">Add Service Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/post/ServicePosts">View Service Posts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/post/SellOrGivePosts">View Sell/Give Posts</a>
                                </li>
                            </ul>
                            <!--end-->
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" id="navbardropdownpost">
                                My Blogpost
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdownpost">
                                <li>
                                    <a class="dropdown-item" href="/post/MyServicePosts">Service Posts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/post/MySellOrGivePosts">Sell/Give Posts</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/post/GivePosts">View Give Posts Comments</a>
                                </li>
                            </ul>
                            <!--end-->
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" id="navbardropdownpost">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbardropdownpost">
                                <li>
                                    <a class="dropdown-item" href="/admin/accesspostlist">AccessPostList</a>
                                </li>
                            </ul>
                            <!--end-->
                        </li>


                    </ul>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userId") == null)
                    {
                        <div>
                            <a href="/login" class="btn bg-light text-dark me-3">Login</a>
                            <a href="/register" class="btn bg-light text-dark me-3">Register</a>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/OrderService/ManageOrders">Manage Orders</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/OrderService/MyCart">My Cart</a>
                        </div>
                        <div>
                            <a asp-page="/Login" asp-page-handler="Logout" class="btn btn-dark">LogOut</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Noti"/>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CatDogLoverManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>