@page
@model CatDogLoverManagement.Pages.OrderService.StripeSuccess

@{
    ViewData["Title"] = "StripeSuccess";
}

<h1>Thanh toán thành công!</h1>
<img src="~/images/tick.png" width="200px" height="200px" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />

